# Copy this file to .env and fill in project-specific values.
BASE_URL=https://www.saucedemo.com/

# Supported values: chrome, chromium, firefox.
BROWSER=chrome
HEADLESS=true
DEFAULT_TIMEOUT_MS=10000
NAVIGATION_TIMEOUT_MS=16000
VIEWPORT_WIDTH=1920
VIEWPORT_HEIGHT=1080
IGNORE_HTTPS_ERRORS=false
LOCALE=en-US
TIMEZONE_ID=Europe/Belgrade

# If empty Playwright will use default data-testid.
PLAYWRIGHT_TEST_ID_ATTRIBUTE=data-test

# SauceDemo test-session cookie settings.
SAUCEDEMO_SESSION_COOKIE_NAME=session-username
SAUCEDEMO_COOKIE_DOMAIN=www.saucedemo.com
SAUCEDEMO_SESSION_COOKIE_TTL_SECONDS=7200
